/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
.navbars {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbars a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbars a:hover {
  background: #ddd;
  color: black;
}

main {
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footers {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #252121;
  border-top: 1px dotted #777;
}

.footers a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.campus-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  vertical-align: middle;

}
.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  vertical-align: middle;
  padding-bottom: 2em;
}

.boarder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: rgb(62, 199, 142);
  color: white;
}
.fa-youtube {
  background: rgb(221, 96, 65);
  color: white;
}

.add-container {
  width: 40%;
  align-items: center;

}

/* css 404 page */
.page-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: overlay;
}

.body{
	background: #1B0034;
	background-image: linear-gradient( 135deg, #1B0034 10%, #33265C 100%);
	background-attachment: fixed;
	background-size: cover;
  height: 100%;
  width: 100%;
}

.error {
	width: 100%;
	height: auto;
	margin: 50px auto;
	text-align: center;
	margin-bottom: 0;
}

.dracula{
	width: 230px;
	height: 300px;
	display: inline-block;
	margin: auto;
	overflowX: hidden;
}

.error .p {
	height: 100%;
	color: #C0D7DD;
	font-size: 280px;
	margin: 50px;
	display: inline-block;
	font-family: 'Anton', sans-serif;
	font-family: 'Combo', cursive;
}


.con {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 9% auto 0;
animation: ani9 0.7s ease-in-out infinite  alternate ;}

@keyframes ani9 {
    0%{
    transform: translateY(10px);
  }

  100%{
    transform: translateY(30px);
  }

}


.con > * {
  position: absolute;
  top: 0; left: 0;
}

.hair{
  top: -20px;
  width: 210px;
  height: 200px;
  background: #C0D7DD;
  border-radius: 0 50% 0 50%;
  transform: rotate(45deg);
  background: #33265C;
}
.hair-r{
  left: 20px;
  width: 210px;
  height: 200px;
  background: #C0D7DD;
  border-radius: 0 50% 0 50%;
  transform: rotate(45deg);
  background: #33265C;

}
.head {
  width: 200px;
  height: 200px;
  background: #C0D7DD;
  border-radius: 0 50% 0 50%;
  transform: rotate(45deg);
}
.eye {
 width: 20px; height:20px;
  background: #111113;
  border-radius: 50%;
  top: 15%; left: 11.5%;
  transition: .3s linear;
}
.eye-r{left: 24%;}

.mouth {
  width: 60px;
  height: 20px;
  background: #840021;
  top: 20%;
  left: 14%;
  border-radius: 50% / 0 0 100% 100%;
}
.mouth::after{

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 13px solid #FFFFFF;
  left: 10px;

}
.mouth::before{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 13px solid #FFFFFF;
  left: 40px;
}

.blod {
  width: 8px;
  height: 20px;
  background: #840021;
  top: 23%; left: 17%;
  border-radius: 20px;
}
.blod::after{
   width: 2px;
  height: 10px;
  background: #FFF;
  top: 20%; left: 10%;
  border-radius: 20px;

}
.blod2 {
  top: 23%; left: 20%;
  width: 13px;
  height: 13px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(130deg);
  animation: blod 2s linear infinite;
  opacity: 0;
}
@keyframes blod {
  0%   {opacity: 1;}
  100%   {background:red; opacity: 0; top:50%;}


}



/* page-ms */
.page-ms {transform: translateY(-50px);}

.error p.page-msg {
	text-align: center;
	color: #C0D7DD;
	font-size: 30px;
	font-family: 'Combo', cursive;
	margin-bottom: 20px;
}
button.go-back {
		font-size: 30px;
    font-family: 'Combo', cursive;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 9;
    border-radius: 10px;
    background: #C0D7DD;
    color: #33265C;
    box-shadow: 0 0 10px 0 #C0D7DD;
	margin-top: 20px;
}
button:hover {box-shadow: 0 0 20px 0 #C0D7DD;}

#listOfPokemons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  }


  .landing{
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .logo {
    width: 200px;
    height: 190px;
    align-content: center;
  }
  #pokemon{
    color: white;
  }


  /* ------------------------------------------ */
.cards{
 background-color: white;
 box-shadow: 0 2px 3px rgba(black, 0.1), 0 0 0 1px rgba(black, 0.1);
 color: text;
 max-width: 100%;
 position: relative;
 height: 450px;
width: 250px;
border: gray solid 1;
}
.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.pricebox{
  height: 250px;
  width: 250px;
}
