/* 
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
.navbars {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbars a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbars a:hover {
  background: #ddd;
  color: black;
}

main {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footers {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #252121;
  border-top: 1px dotted #777;
}

.footers a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.campus-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  vertical-align: middle;
  
}
.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  vertical-align: middle;
  padding-bottom: 2em;
}

.boarder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: rgb(62, 199, 142);
  color: white;
}
.fa-youtube {
  background: rgb(221, 96, 65);
  color: white;
}

.add-container {
  width: 40%;
  align-items: center;

}